@font-face {
    font-family: Koho;
    src: url(KoHo,Poppins/KoHo/KoHo-Regular.ttf) format('truetype');
}
@font-face {
    font-family: Poppins;
    src: url(KoHo,Poppins/Poppins/Poppins-Regular.ttf) format('truetype');
}
html {
    height: 100%;
}
body {
    height: 100%;
    font-family: Poppins;
}
h1 {
    font-weight: normal;
}
header {
    display: flex;
    margin: 15px;
    justify-content: right;
}
#fortes {
    margin: auto;
    margin-right: 30%;
}
header a {
    display: flex;
    justify-content: center;
    align-items: center;
}
#chat {
    width: 50%;
}
#home {
    width: 50%;
}
.links {
    display: flex;
    margin: 0px;
}
main {
    background-color: #033E8C;
    color: white;
    height: 88%;
    border-radius: 15px;
}
button {
    margin-top: 10px;
    margin-right: 26.8%;
    margin-bottom: 0px;
    align-self: flex-end;
    background-color: #04BF7B;
    border: none;
    width: 135px;
    height: 35px;
    font-family: Poppins;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}
button:hover {
    background-color: #04a86c;
}
h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-family: Koho;
    text-align: center;
    width: max-content;
}
p {
    width: 39%;
    text-align: center;
}
.informacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input {
    opacity: 0;
}
label {
    height: 250px;
    width: 600px;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    background-image: url(imagens/upload.png);
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(196, 196, 196);
    display: flex;
    align-items: end;
    justify-content: center;
}
.texto {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
